<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Registration</title>
    <link href="/static/style/style.css" th:href="@{/style/style.css}" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
<div th:insert="/fragments/header :: header" th:id="'header'"></div>

<form th:action="@{/registrationLandlord}" th:object="${user}" method="post">
    <div th:insert="/fragments/registr :: regInfo" ></div>
</form>

<!--<div th:insert="/fragments/footer :: footer" th:id="'footer'"></div>-->
</body>
</html>