<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/style/style.css" th:href="@{/style/style.css}" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
          crossorigin="anonymous">
    <title>Работа с данными</title>
</head>
<body>
<div th:insert="/fragments/header :: header" th:id="'header'"></div>
<div th:id="'tenant_home'">
    <div>
        <h2 th:text="'Добавить данные'"></h2>
        <form th:action="@{/newCountry}" th:object="${question_}" method="post">
            <input type="text" th:field="*{question}" th:placeholder="'страна'">
            <input type="submit" value="Добавить"/></form>
        </form>
        <form th:action="@{/newCity}" th:object="${city}" method="post">
            <select th:field="*{city}" required>
                <option th:each="i : ${countries}" th:value="${{i.id}}" th:text="${i.country}">
                </option>
            </select>
            <input type="text" th:field="*{city}" th:placeholder="'город'"/>
            <input type="submit" value="Добавить"/></form>
        </form>

        <form th:action="@{/newApartmentType}" th:object="${type}" method="post">
            <input type="text" th:field="*{type}" th:placeholder="'тип жилища'"/>
            <input type="submit" value="Добавить"/></form>
        </form>
    </div>
    <div>
        <h2 th:text="'Удалить данные'"></h2>
        <form th:action="@{/deleteCountry}" th:object="${cntry}" method="post">
            <select th:field="*{id}" required>
                <option th:each="i : ${countries}" th:value="${{i.id}}" th:text="${i.country}">
                </option>
            </select>
            <input type="submit" value="Удалить"/></form>
        </form>
        <form th:action="@{/deleteCity}" th:object="${question_}" method="post">
            <select th:field="*{id}">
                <option th:each="city : ${cities}"
                        th:value="${city.id}"
                        th:utext="${city.city}+': '+${city.country.country}"/>
            </select>
            <input type="submit" value="Удалить"/></form>
        </form>

        <form th:action="@{/deleteApartmentType}" th:object="${question_}" method="post">
            <select th:field="*{id}">
                <option th:each="type1 : ${types}"
                        th:value="${type1.id}"
                        th:utext="${type1.type}"/>
            </select>
            <input type="submit" value="Удалить"/></form>
        </form>
    </div>
</div>
</body>
</html>